{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "YOUR_AZURE_STORAGE_CONNECTION_VALUE_COPIED_FROM_YOUR_ACCOUNT",,
    "Auth0Url": "https://example.us.auth0.com/",
    "Auth0Audience": "https://audience.example",
    "QueueName_LabelSubmissionsInput" : "WHATEVER_YOU_CHOOSE_TO_NAME_YOUR_LABEL_SUBMISSIONS_INPUT_QUEUE",
    "QueueName_LabelSubmissionsUnverified" : "WHATEVER_YOU_CHOOSE_TO_NAME_YOUR_LABEL_SUBMISSIONS_UNVERIFIED_QUEUE",
    "TableName_LabelSubmissions" : "WHATEVER_YOU_CHOOSE_TO_NAME_YOUR_LABEL_SUBMISSIONS_NOSQL_TABLE",
    "TableName_LabelApprovals" : "WHATEVER_YOU_CHOOSE_TO_NAME_YOUR_LABEL_APPROVALS_NOSQL_TABLE",
    "NumberOfResultsPerPage" : 100,
    "FUNCTIONS_WORKER_RUNTIME": "dotnet",
    "FUNCTIONS_EXTENSION_VERSION": "~3",
    "WEBSITE_CONTENTAZUREFILECONNECTIONSTRING": "YOUR_OWN_AZURE_STORAGE_CONNECTION_VALUE_DOWNLOADED_FROM_AZURE__SHOULD_MATCH_AzureWebJobsStorage",
    "WEBSITE_CONTENTSHARE": "FILE_PATH_TO_APP_CODE_AND_CONFIGURATION_DOWNLOADED_FROM_AZURE",
    "WEBSITE_RUN_FROM_PACKAGE": "1"
  },
  "Host": {
      "CORS": "YOUR_OWN_COMMA_SEPARATED_LIST_OF_ALLOWED_ORIGIN_DOMAINS"
  }
}
